In [1]:
problem="""
Project Title Industrial Copper Modeling
Skills take away From This Project Python scripting, Data
Preprocessing,
EDA, Streamlit
Domain Manufacturing
Problem Statement:
The copper industry deals with less complex data related to sales and pricing.
However, this data may suffer from issues such as skewness and noisy data, which
can affect the accuracy of manual predictions. Dealing with these challenges manually
can be time-consuming and may not result in optimal pricing decisions. A machine
learning regression model can address these issues by utilizing advanced techniques
such as data normalization, feature scaling, and outlier detection, and leveraging
algorithms that are robust to skewed and noisy data.
Another area where the copper industry faces challenges is in capturing the leads. A
lead classification model is a system for evaluating and classifying leads based on
how likely they are to become a customer . You can use the STATUS variable with
WON being considered as Success and LOST being considered as Failure and
remove data points other than WON, LOST STATUS values.
The solution must include the following steps:
1) Exploring skewness and outliers in the dataset.
2) Transform the data into a suitable format and perform any necessary cleaning
and pre-processing steps.
3) ML Regression model which predicts continuous variable ‘Selling_Price’.
4) ML Classification model which predicts Status: WON or LOST.
5) Creating a streamlit page where you can insert each column value and you will
get the Selling_Price predicted value or Status(Won/Lost)
Data: Data-set
About the Data:
1. `id`: This column likely serves as a unique identifier for each transaction or item,
which can be useful for tracking and record-keeping.
2. `item_date`: This column represents the date when each transaction or item was
recorded or occurred. It's important for tracking the timing of business activities.
3. `quantity tons`: This column indicates the quantity of the item in tons, which is
essential for inventory management and understanding the volume of products sold or
produced.
4. `customer`: The "customer" column refers to the name or identifier of the customer
who either purchased or ordered the items. It's crucial for maintaining customer
relationships and tracking sales.
5. `country`: The "country" column specifies the country associated with each
customer. This information can be useful for understanding the geographic distribution
of customers and may have implications for logistics and international sales.
6. `status`: The "status" column likely describes the current status of the transaction
or item. This information can be used to track the progress of orders or transactions,
such as "Draft" or "Won."
7. `item type`: This column categorizes the type or category of the items being sold or
produced. Understanding item types is essential for inventory categorization and
business reporting.
8. `application`: The "application" column defines the specific use or application of
the items. This information can help tailor marketing and product development efforts.
9. `thickness`: The "thickness" column provides details about the thickness of the
items. It's critical when dealing with materials where thickness is a significant factor,
such as metals or construction materials.
10. `width`: The "width" column specifies the width of the items. It's important for
understanding the size and dimensions of the products.
11. `material_ref`: This column appears to be a reference or identifier for the material
used in the items. It's essential for tracking the source or composition of the products.
12. `product_ref`: The "product_ref" column seems to be a reference or identifier for
the specific product. This information is useful for identifying and cataloging products
in a standardized way.
13. `delivery date`: This column records the expected or actual delivery date for each
item or transaction. It's crucial for managing logistics and ensuring timely delivery to
customers.
14. `selling_price`: The "selling_price" column represents the price at which the items
are sold. This is a critical factor for revenue generation and profitability analysis.
Approach:
1) Data Understanding: Identify the types of variables (continuous, categorical)
and their distributions. Some rubbish values are present in ‘Material_Reference’
which starts with ‘00000’ value which should be converted into null. Treat
reference columns as categorical variables. INDEX may not be useful.
2) Data Preprocessing:
● Handle missing values with mean/median/mode.
● Treat Outliers using IQR or Isolation Forest from sklearn library.
● Identify Skewness in the dataset and treat skewness with appropriate
data transformations, such as log transformation(which is best suited to
transform target variable-train, predict and then reverse transform it back
to original scale eg:dollars), boxcox transformation, or other techniques,
to handle high skewness in continuous variables.
● Encode categorical variables using suitable techniques, such as one-hot
encoding, label encoding, or ordinal encoding, based on their nature and
relationship with the target variable.
3) EDA: Try visualizing outliers and skewness(before and after treating skewness)
using Seaborn’s boxplot, distplot, violinplot.
4) Feature Engineering: Engineer new features if applicable, such as aggregating
or transforming existing features to create more informative representations of
the data. And drop highly correlated columns using SNS HEATMAP.
5) Model Building and Evaluation:
● Split the dataset into training and testing/validation sets.
● Train and evaluate different classification models, such as
ExtraTreesClassifier, XGBClassifier, or Logistic Regression, using
appropriate evaluation metrics such as accuracy, precision, recall, F1
score, and AUC curve.
● Optimize model hyperparameters using techniques such as
cross-validation and grid search to find the best-performing model.
● Interpret the model results and assess its performance based on the
defined problem statement.
● Same steps for Regression modelling.(note: dataset contains more noise
and linearity between independent variables so itll perform well only with
tree based models)
6) Model GUI: Using streamlit module, create interactive page with
(1) task input( Regression or Classification) and
(2) create an input field where you can enter each column value except
‘Selling_Price’ for regression model and except ‘Status’ for classification
model.
(3) perform the same feature engineering, scaling factors, log/any
transformation steps which you used for training ml model and predict this new
data from streamlit and display the output.
7) Tips: Use pickle module to dump and load models such as encoder(onehot/
label/ str.cat.codes /etc), scaling models(standard scaler), ML models. First fit
and then transform in separate line and use transform only for unseen data
Eg: scaler = StandardScaler()
scaler.fit(X_train)
scaler.transform(X_train)
scaler.transform(X_test_new) #unseen data
The learning outcomes of this project are:
1. Developing proficiency in Python programming language and its data analysislibraries such as Pandas, NumPy, Matplotlib, Seaborn, Scikit-learn, andStreamlit.
2. Gaining experience in data preprocessing techniques such as handling missingvalues, outlier detection, and data normalization to prepare data for machinelearning modeling.
3. Understanding and visualizing the data using EDA techniques such asboxplots, histograms, and scatter plots.
4. Learning and applying advanced machine learning techniques such asregression and classification to predict continuous and binary target variables,respectively.
5. Building and optimizing machine learning models using appropriate evaluationmetrics and techniques such as cross-validation and grid search.
6. Experience in feature engineering techniques to create new informativerepresentations of the data.
7. Developing a web application using the Streamlit module to showcase themachine learning models and make predictions on new data.
8. Understanding the challenges and best practices in the manufacturing domainand how machine learning can help solve them.
Overall, this project will equip you with practical skills and experience in data analysis,
machine learning modeling, and creating interactive web applications, and provide you
with a solid foundation to tackle real-world problems in the manufacturing domain.
Project Evaluation metrics:
● You are supposed to write a code in a modular fashion (in functional blocks)
● Maintainable: It can be maintained, even as your codebase grows.
● Portable: It works the same in every environment (operating system)
● You have to maintain your code on GitHub.(Mandatory)
● You have to keep your GitHub repo public so that anyone can check your
code.(Mandatory)
● Proper readme file you have to maintain for any project
development(Mandatory)
● You should include basic workflow and execution of the entire project in the
readme file on GitHub (Mandatory)
● Follow the coding standards: https://www.python.org/dev/peps/pep-0008/
● You need to Create a Demo video of your working model and post in
LinkedIn(Mandatory)
"""

In [2]:
# import libraries
import pandas as pd
import numpy as np

In [3]:
# read the data
path="Copper_Set.xlsx"
df = pd.read_excel(path)

In [ ]:
# check the data
print(df.head())

                                     id   item_date quantity tons    customer  \
0  EC06F063-9DF0-440C-8764-0B0C05A4F6AE  20210401.0     54.151139  30156308.0
1  4E5F4B3D-DDDF-499D-AFDE-A3227EC49425  20210401.0    768.024839  30202938.0
2  E140FF1B-2407-4C02-A0DD-780A093B1158  20210401.0    386.127949  30153963.0
3  F8D507A0-9C62-4EFE-831E-33E1DA53BB50  20210401.0    202.411065  30349574.0
4  4E1C4E78-152B-430A-8094-ADD889C9D0AD  20210401.0    785.526262  30211560.0

   country status item type  application  thickness   width  \
0     28.0    Won         W         10.0       2.00  1500.0
1     25.0    Won         W         41.0       0.80  1210.0
2     30.0    Won        WI         28.0       0.38   952.0
3     32.0    Won         S         59.0       2.30  1317.0
4     28.0    Won         W         10.0       4.00  2000.0

                               material_ref  product_ref  delivery date  \
0                               DEQ1 S460MC   1670798778     20210701.0
1  0000000000000000000000000000000000104991   1668701718     20210401.0
2                                  S0380700       628377     20210101.0
3                   DX51D+ZM310MAO 2.3X1317   1668701718     20210101.0
4                           2_S275JR+AR-CL1       640665     20210301.0

   selling_price
0         854.00
1        1047.00
2         644.33
3         768.00
4         577.00

In [5]:
# check the shape of the data
print(df.shape)

(181673, 14)

In [6]:
# verify the number of unique values in each features
print(df.nunique())

id               181671
item_date           252
quantity tons    181673
customer           1169
country              17
status                9
item type             7
application          30
thickness           594
width              1386
material_ref      16563
product_ref          33
delivery date        28
selling_price      9795
dtype: int64

In [7]:
# check the data types
print(df.dtypes)

id                object
item_date        float64
quantity tons     object
customer         float64
country          float64
status            object
item type         object
application      float64
thickness        float64
width            float64
material_ref      object
product_ref        int64
delivery date    float64
selling_price    float64
dtype: object

In [8]:
# convert the object data type to numeric
df['quantity tons'] = pd.to_numeric(df['quantity tons'], errors='coerce')
df['item_date_1'] = pd.to_datetime(df['item_date'], format='%Y%m%d', errors='coerce').dt.date
df['delivery date_1'] = pd.to_datetime(df['delivery date'], format='%Y%m%d', errors='coerce').dt.date
df.head(3)

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price,item_date_1,delivery date_1
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00,2021-04-01,2021-07-01
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,0000000000000000000000000000000000104991,1668701718,20210401.0,1047.00,2021-04-01,2021-04-01
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33,2021-04-01,2021-01-01

In [9]:
# check for missing values
df.isnull().sum()

id                     2
item_date              1
quantity tons          1
customer               1
country               28
status                 2
item type              0
application           24
thickness              1
width                  0
material_ref       77919
product_ref            0
delivery date          1
selling_price          1
item_date_1            3
delivery date_1        3
dtype: int64

In [10]:
# Some rubbish values are present in ‘Material_ref’ which starts with ‘00000’ value which should be converted into null
df['material_ref'] = df['material_ref'].apply(lambda x: np.nan if str(x).startswith('00000') else x)
df.head(3)

,id,item_date,quantity tons,customer,country,status,item type,application,thickness,width,material_ref,product_ref,delivery date,selling_price,item_date_1,delivery date_1
0,EC06F063-9DF0-440C-8764-0B0C05A4F6AE,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,DEQ1 S460MC,1670798778,20210701.0,854.00,2021-04-01,2021-07-01
1,4E5F4B3D-DDDF-499D-AFDE-A3227EC49425,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,NaN,1668701718,20210401.0,1047.00,2021-04-01,2021-04-01
2,E140FF1B-2407-4C02-A0DD-780A093B1158,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,S0380700,628377,20210101.0,644.33,2021-04-01,2021-01-01

In [11]:
# check for missing values
df.isnull().sum()

id                      2
item_date               1
quantity tons           1
customer                1
country                28
status                  2
item type               0
application            24
thickness               1
width                   0
material_ref       100645
product_ref             0
delivery date           1
selling_price           1
item_date_1             3
delivery date_1         3
dtype: int64

In [12]:
# the index column is not useful so we can drop column 'id'
# and also drop the material_ref column as it has many missing values
df.drop(['id', 'material_ref'], axis=1, inplace=True)
df.head(3)

,item_date,quantity tons,customer,country,status,item type,application,thickness,width,product_ref,delivery date,selling_price,item_date_1,delivery date_1
0,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,1670798778,20210701.0,854.00,2021-04-01,2021-07-01
1,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,1668701718,20210401.0,1047.00,2021-04-01,2021-04-01
2,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,628377,20210101.0,644.33,2021-04-01,2021-01-01

In [13]:
# describe the data to check the summary statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
item_date,181672.0,2.020459e+07,4.551119e+03,19950000.00,2.020093e+07,2.020113e+07,2.021020e+07,2.021040e+07
quantity tons,181672.0,5.874926e+03,2.349081e+06,-2000.00,1.097030e+01,3.036464e+01,6.716061e+01,1.000000e+09
customer,181672.0,3.051221e+07,2.433382e+07,12458.00,3.019688e+07,3.020524e+07,3.028042e+07,2.147484e+09
country,181645.0,4.489302e+01,2.440421e+01,25.00,2.600000e+01,3.000000e+01,7.800000e+01,1.130000e+02
application,181649.0,2.561581e+01,1.775417e+01,2.00,1.000000e+01,1.500000e+01,4.100000e+01,9.900000e+01
thickness,181672.0,2.564827e+00,6.572321e+00,0.18,7.000000e-01,1.500000e+00,3.000000e+00,2.500000e+03
width,181673.0,1.295287e+03,2.616318e+02,1.00,1.180000e+03,1.250000e+03,1.500000e+03,2.990000e+03
product_ref,181673.0,4.739679e+08,7.175101e+08,611728.00,6.119930e+05,6.406650e+05,1.332077e+09,1.722208e+09
delivery date,181672.0,2.020738e+07,2.411059e+04,20190401.00,2.020110e+07,2.021010e+07,2.021040e+07,3.031010e+07
selling_price,181672.0,1.918036e+03,3.317956e+05,-1160.00,6.690000e+02,8.120000e+02,9.530000e+02,1.000010e+08

In [14]:
# quantity and selling price values are not below 0. so we convert to null for below 0 values.
df['quantity tons'] = df['quantity tons'].apply(lambda x: np.nan if x<0 else x)
df['selling_price'] = df['selling_price'].apply(lambda x: np.nan if x<0 else x)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
item_date,181672.0,2.020459e+07,4.551119e+03,1.995000e+07,2.020093e+07,2.020113e+07,2.021020e+07,2.021040e+07
quantity tons,181668.0,5.875066e+03,2.349107e+06,1.000000e-05,1.097122e+01,3.036501e+01,6.716134e+01,1.000000e+09
customer,181672.0,3.051221e+07,2.433382e+07,1.245800e+04,3.019688e+07,3.020524e+07,3.028042e+07,2.147484e+09
country,181645.0,4.489302e+01,2.440421e+01,2.500000e+01,2.600000e+01,3.000000e+01,7.800000e+01,1.130000e+02
application,181649.0,2.561581e+01,1.775417e+01,2.000000e+00,1.000000e+01,1.500000e+01,4.100000e+01,9.900000e+01
thickness,181672.0,2.564827e+00,6.572321e+00,1.800000e-01,7.000000e-01,1.500000e+00,3.000000e+00,2.500000e+03
width,181673.0,1.295287e+03,2.616318e+02,1.000000e+00,1.180000e+03,1.250000e+03,1.500000e+03,2.990000e+03
product_ref,181673.0,4.739679e+08,7.175101e+08,6.117280e+05,6.119930e+05,6.406650e+05,1.332077e+09,1.722208e+09
delivery date,181672.0,2.020738e+07,2.411059e+04,2.019040e+07,2.020110e+07,2.021010e+07,2.021040e+07,3.031010e+07
selling_price,181667.0,1.918103e+03,3.318002e+05,0.000000e+00,6.690000e+02,8.120000e+02,9.530000e+02,1.000010e+08

In [15]:
# check for missing values
df.isnull().sum()

item_date           1
quantity tons       5
customer            1
country            28
status              2
item type           0
application        24
thickness           1
width               0
product_ref         0
delivery date       1
selling_price       6
item_date_1         3
delivery date_1     3
dtype: int64

In [16]:
# handle missing values with mean/median/mode
# for numerical columns we will use median and for object columns we will use mode
# Object datatype using mode
df['item_date'] = df['item_date'].fillna(df['item_date'].mode().iloc[0])
df['item_date_1'] = df['item_date_1'].fillna(df['item_date_1'].mode().iloc[0])
df['status'] = df['status'].fillna(df['status'].mode().iloc[0])
df['delivery date'] = df['delivery date'].fillna(df['delivery date'].mode().iloc[0])
df['delivery date_1'] = df['delivery date_1'].fillna(df['delivery date_1'].mode().iloc[0])

# Numerical datatype using median
df['quantity tons'] = df['quantity tons'].fillna(df['quantity tons'].median())
df['customer'] = df['customer'].fillna(df['customer'].median())
df['country'] = df['country'].fillna(df['country'].median())
df['application'] = df['application'].fillna(df['application'].median())
df['thickness'] = df['thickness'].fillna(df['thickness'].median())
df['selling_price'] = df['selling_price'].fillna(df['selling_price'].median())

In [17]:
# print the missing values
print(df.isnull().sum())

item_date          0
quantity tons      0
customer           0
country            0
status             0
item type          0
application        0
thickness          0
width              0
product_ref        0
delivery date      0
selling_price      0
item_date_1        0
delivery date_1    0
dtype: int64

In [18]:
# check the data types
print(df.dtypes)

item_date          float64
quantity tons      float64
customer           float64
country            float64
status              object
item type           object
application        float64
thickness          float64
width              float64
product_ref          int64
delivery date      float64
selling_price      float64
item_date_1         object
delivery date_1     object
dtype: object

In [21]:
# check the data
df.head()

,item_date,quantity tons,customer,country,status,item type,application,thickness,width,product_ref,delivery date,selling_price,item_date_1,delivery date_1
0,20210401.0,54.151139,30156308.0,28.0,Won,W,10.0,2.00,1500.0,1670798778,20210701.0,854.00,2021-04-01,2021-07-01
1,20210401.0,768.024839,30202938.0,25.0,Won,W,41.0,0.80,1210.0,1668701718,20210401.0,1047.00,2021-04-01,2021-04-01
2,20210401.0,386.127949,30153963.0,30.0,Won,WI,28.0,0.38,952.0,628377,20210101.0,644.33,2021-04-01,2021-01-01
3,20210401.0,202.411065,30349574.0,32.0,Won,S,59.0,2.30,1317.0,1668701718,20210101.0,768.00,2021-04-01,2021-01-01
4,20210401.0,785.526262,30211560.0,28.0,Won,W,10.0,4.00,2000.0,640665,20210301.0,577.00,2021-04-01,2021-03-01

In [23]:
df['status'].unique()

array(['Won', 'Draft', 'To be approved', 'Lost', 'Not lost for AM',
       'Wonderful', 'Revised', 'Offered', 'Offerable'], dtype=object)

In [24]:
df['item type'].unique()

array(['W', 'WI', 'S', 'Others', 'PL', 'IPL', 'SLAWR'], dtype=object)

In [26]:
# convert the categorical columns to numerical using label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['status'] = le.fit_transform(df['status'])
df['item type'] = le.fit_transform(df['item type'])

In [27]:
# check the data
df.head()

,item_date,quantity tons,customer,country,status,item type,application,thickness,width,product_ref,delivery date,selling_price,item_date_1,delivery date_1
0,20210401.0,54.151139,30156308.0,28.0,7,5,10.0,2.00,1500.0,1670798778,20210701.0,854.00,2021-04-01,2021-07-01
1,20210401.0,768.024839,30202938.0,25.0,7,5,41.0,0.80,1210.0,1668701718,20210401.0,1047.00,2021-04-01,2021-04-01
2,20210401.0,386.127949,30153963.0,30.0,7,6,28.0,0.38,952.0,628377,20210101.0,644.33,2021-04-01,2021-01-01
3,20210401.0,202.411065,30349574.0,32.0,7,3,59.0,2.30,1317.0,1668701718,20210101.0,768.00,2021-04-01,2021-01-01
4,20210401.0,785.526262,30211560.0,28.0,7,5,10.0,4.00,2000.0,640665,20210301.0,577.00,2021-04-01,2021-03-01